/* Simple CSS Reset */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #28243d; /* Match dark theme background */
  color: #ffffff; /* Default text color */
}

a {
  color: inherit; /* Blue links default */
  text-decoration: none; /* No underline */
}

* {
  box-sizing: border-box;
}
